/* FONTS:
 font-family: "rooney-web", 'AmericanTypewriter', Rockwell, serif; 
*/


/* COLORS: 
  blue: #20A1D4;
  green: #1CBC2C;
  orange: #EF5F3C;
  black: #424242;
  grey: #777;
  light grey: #eaeaea;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "rooney-web", "AmericanTypewriter", Rockwell, serif;
}

/*---------------------Container setting---------------------*/

.hero-container {
    margin: 25px auto;
    max-width: 575px;
}

.hero-callout-box {
    position: relative;
    background-color: #424242;
    padding: 25px;
    color: #ffffff;
    border-radius: 7px;
    text-align: center;
    font-size: 28px;
    margin-bottom: 15px;
}

.hero-callout-box::after {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    top: 100%;
    right: 15%;
    background-color: #424242;
    transform: rotate(45deg);
    margin-top: -7px;
}

#hero-bar {
    width: 100%;
    background-color: #f0f0f0;
    border: 2px solid #eaeaea;
}

#hero-progress-bar {
    
    height: 30px;
    background-color: #ef5f3c;
}

.hero-box {
    padding: 30px;
    border: 2px solid #eaeaea;
    border-top-width: 0px;
    box-shadow: 0px 3px #f0f0f0;
}

.hero-box p {
    font-size: 28px;
    color: #777;
    margin-bottom: 25px;
    line-height: 1.5;
}

.text-bold-color {
    font-size: 28px;
    line-height: 1.5;
    font-weight: bold;
    color: #ef5f3c;
}

.hero-donor {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.text-field {
    padding: 20px;
    border: 2px solid #eaeaea;
    border-radius: 7px;
    width: 46%;
    height: 80px;
    font-size: 30px;
    font-weight: bold;
    outline: none;
}

#btn-field {
    font-size: 25px;
    font-weight: bold;
    color: #ffffff;
    border: 2px solid #1cbc2c;
    border-radius: 7px;
    background-color: #1cbc2c;
    padding: 20px;
    width: 46%;
    height: 80px;
    cursor: pointer;
}

/*---------------------Responsive modal---------------------*/

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
/*---------------------Till Here Responsive modal---------------------*/


.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.text-color {
    cursor: pointer;
    color: #20a1d4;
    font-size: 25px;
    font-style: italic;
    text-decoration: none;
}

.hero-btn-box {
    display: flex;
    justify-content: space-between;
}

.btn-row {
    margin-top: 25px;
    background-color: #f0f0f0;
    border: 2px solid #eaeaea;
    border-radius: 7px;
    padding: 5px 15px;
    color: #424242;
    font-size: 25px;
    font-weight: bold;
    width: 48%;
    height: 80px;
    box-shadow: 0px 3px #f0f0f0;
}

/*---------------------Media queries---------------------*/

@media only screen and (max-width: 575px) {
    .hero-container {
        max-width: 480px;
    }

    .hero-callout-box {
        padding: 20px;
        font-size: 20px;
    }

    .hero-box {
        padding: 20px;
    }

    .hero-box p {
        font-size: 24px;
        line-height: 1.2;
    }

    .text-bold-color {
        font-size: 24px;
        line-height: 1.2;
    }

    .text-field {
        height: 50px;
        font-size: 20px;
    }
    
    #btn-field {
        font-size: 20px;
        height: 50px;
        padding: 10px;
    }

    .text-color {
        font-size: 20px;
    }
    
    .btn-row {
        padding: 3px 5px;
        font-size: 18px;
        height: 50px;
    }
    
}

@media only screen and (max-width: 320px) {
    .hero-callout-box {
        padding: 15px;
        font-size: 18px;
    }

    .hero-box {
        padding: 15px;
    }

    .hero-box p {
        font-size: 20px;
        line-height: 1.2;
    }

    .text-bold-color {
        font-size: 20px;
        line-height: 1.2;
    }

    .text-field {
        height: 40px;
        font-size: 15px;
    }
    
    #btn-field {
        font-size: 15px;
        height: 40px;
        padding: 10px;
    }

    .text-color {
        font-size: 15px;
    }
    
    .btn-row {
        padding: 3px 5px;
        font-size: 12px;
        height: 40px;
    }
}
